.main{
    height: 1000px;
    width: 800px; 
    background-color: aqua;
}
.header{
    height: 100px;
    width: 800px;
    background-color: blueviolet;
    text-align: center;
  text-align: center; 
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  

}
.navigation{
    height: 100px;
    width: 800px;
    background-color: chocolate;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

}
.content1{
    height: 400px;
    width: 200px;
    background-color: gray;
    float: left;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    

}

.content2{
    height: 400px;
    width:200px ;
    background-color: grey;
    float: right;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    

}
.maincontent{
    height: 400px;
    width: 600px;
    background-color:sandybrown;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
    
}
.footer{
    height: 400px;
    width: 800px;
    background-color:blueviolet;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}







