.main{
    width: 1300px;
    height: 1100px;
    background-color: black;
}
.header{
    width: 1300px;
    height: 300px;
    background-color: green

}
.header h1{
    position: absolute;
    top: 100px;
    left: 100px;
    text-transform: capitalize;
    color: white;
    text-shadow: -10px -10px 5px green;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.header h1:hover{
    background-color: rgb(233, 10, 10);

}
.header h4{
    float: right;
    position: absolute;
    top: 50px;
    right: 50px;
    color: brown;

}
/* .header ul li{
    float: left;
    display: inline;
    list-style-type: none;
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    /* margin-right: 4px; */
    /* background-color: beige; */
   /* text-align: center; */
   /* line-height: 40px; */
   /* color: brown; */
   /* position: absolute; */
   /* top: 150px; */
   /* position: absolute; */
   /* top: 150px; */
   /* left: 400px; */
   
   

/* } */ */
.header h2{
    position: absolute;
    top: 200px;
    left: 500px;
    color: chartreuse;
    text-align: center;
    text-transform: capitalize;


}
.header h2:hover{
    background-color: yellow;
}
.header p{
    position: absolute;
    top: 300px;
    left: 500px;
    color: green;
    text-align: center;
    /* text-transform: capitalize; */
   
}
.header form{
    position: absolute;
    top: 350px;
    left: 650px;

}
.content{
    width: 1300px;
    height: 300px;
}
.content img{
    width: 200px;
    height: 300px;
    float: left;
}

