.main{
    width: 1200px;
    height: 700px;
    /* background-color: yellow; */
}
.main img{
    width: 1200px;
    height: 700px;
    border: 2px solid gray;
    border-radius: 10px;
    background: transparent;

}
.logo img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.menu ul{
    width: 600px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 700px;
    
}
.menu ul li{
    width: 100px;
    padding: 3px;
    display: inline-block;
    border: 2px solid red;
    text-align: center;
    box-shadow: 10px 10px 5px black;

}
.menu ul li a:hover{
    background-color: blueviolet;
    color: yellow;
    

}
.head{
    position: absolute;
    top: 40%;
    left: 100px;
    font-style: italic;
    font-weight: bolder;
    


}
.head h1:hover{
    background-color: violet;
    text-shadow: 10px 10px 5px brown;
    transform: rotate(3600deg);
    transition: 3s;
}
.button{
    position: absolute;
    top: 60%;
    left: 950px;
    width: 100px;
    background-color: tomato;

}
.button button{
    width: 100px;
    height: 30px;
    background-color: tomato;


}
.button button:hover{
    background-color: tomato;
    color: yellow;
}
.form {
    position: absolute;
    top: 40%;
    left: 850px;
    display: block;
}
.form form {
    position: absolute;
    top: 40%;
    left: 100px;
    /* display: block; */
    

    
}
.form input{
    width: 300px;
    height: 20px;
    font-size: 10px;
    display: block;
    

}


