.main{
    width: 12700px;
    height:600px ;
    background-color: cadetblue;
}



.img1{
    width: 1370px;
    height: 600px;
    /* background-color: black; */
    opacity: 0.4;
    
}
.img1 img{
    width: 1370px;
    height: 600px;

}
.img1 h1{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 600px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    opacity: 100;
    color: chartreuse;
    text-decoration: underline;
    text-transform: capitalize;
    border-style: solid; border-color: black;
    
    
}
.section1{
    width: 1370px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.76);

}
.img2{
    width: 1370px;
    height: 300px;
    background-color: black;
}
.img2 img{
     width: 1370px;
    height: 300px;
    
}
.section2{
    width: 1370px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.356);


}
.section2 div{
    width: 1370px;
    height: 300px;

}
.img3{
    width: 1370px;
    height: 300px;
    background-color: black;

}
.img3 img{
    width: 1370px;
    height: 300px;

}
.section3{
    width: 1370px;
    height: 300px;
    /* background-color: aqua; */
    background-color: rgba(255, 255, 255, 0.76);

}
.section3 div{
    width: 1370px;
    height: 300px;

}
.img4{
    width: 1370px;
    height: 600px;
    background-color: black;

}
.img4 img{
    width: 1370px;
    height: 600px;
    opacity: 0.4;

}

