.main{
    width: 1200px;
    height: 600px;
    background-image: linear-gradient(rgb(23, 196, 173) rgb(131, 201, 20));

}
.main img{
    width: 1200px;
    height: 600px;
    border: 2px solid red;
    margin: 2px 2px 2px 2px;
    background-position: center;
    object-fit: cover;




}
.cascade{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: 30px;

}
.cascade img{
    border: 2px solid rgb(77, 112, 6);
    border-radius: 10px;
    /* width: ; */
    width: 100px;
    height: 40px;

}
.cascade img:hover{
    background-color: rgba(135, 14, 156, 0.061);
    color: rgb(115, 236, 17);
    box-shadow: -10px -10px 5px black;
}
.menu{
    width: 800px ;
    height: 30px;
    /* border: 2px solid red; */

}
.menu ul{
    width: 800px ;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 400px;
    /* border: 2px solid red; */

}
.menu ul li{
    display: inline-block;
    /* width: 400px ;
    height: 30px; */
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 150px;


}
.menu ul li a:hover{
    background-color: chartreuse;
    color: white;
}
.webdev{
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 430px;
   
}
.webdev:hover{
    text-shadow: -10px -10px 5px blueviolet;
}
.button{
    position: absolute;
    top: 360px; ;
    left: 530px;
    width: 300px;
    margin-left: 20px;



}
.button :hover{
    background-color: black;
    color: yellow;
    box-shadow: -10px -10px 5px red;
    transform: rotate(90deg);
    transition: 2s;
    transform: scaleX(110px);

}
