.main{
    /* background-color:brown; */
    width: 1350px;
    height: 700px;
    background-image:repeating-linear-gradient(to left bottom,rgb(255, 0, 140),rgba(95, 224, 95, 0.918) );

}
.main img{
    width: 1350;
    height: 700px;
    opacity: 0.5;
}
.logo{
    position: absolute;
    top: 10px ;
    left: 10px;
    width: 100px;
    height:110px;
    
    

}
.logo img{
    position: absolute;
    top: 10px ;
    left: 20px;
    width: 150px;
    height:150px;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color:green; */

}
.nav{
    position: absolute;
    top: 10px;
    left: 500px;
    /* background-color: aliceblue; */
    /* width: 600px;
    height: 30px;
     */

}
.nav ul{
    width: 700px;
    /* display: inline-block; */
    height: 40px;
   
    text-align: center;
    vertical-align: middle;

}
.nav ul li{
    display: inline-block;
    width: 130px;
    border: 1px solid red;
    /* margin: 7px; */
    padding: 10px;
    margin: 5px;
    background-color: white;


}
.heading{
    position: absolute;
    top: 260px;
    left: 281px;
}
.head{
    position: absolute;
    top: 280px;
    left: 202px;
    /* text-shadow: 10px -10px 5px rgb(207, 11, 11); */

}
.hilll h6{
    position: absolute;
    display: inline;
    top: 330px;
    left: 200px;

}
.button{
    background-image: linear-gradient(red yellow);
    position: absolute;
   
    top: 400px;
    left: 303px;
    animation-name: amruta;
    animation-duration: 2s;
    animation-timing-function: ease;
}
.button button{
    width: 81px;
    height: 27px;
    border: 1px solid black;
   
    color: rgb(255, 0, 140);
  



}
.button button:hover{
    @keyframes amruta {
        0%{top:400px;left: 303px;}
        50%{top:400px;left: 310px;}
        100%{top:400px;left: 303px;}
        
    }
}

.form{
    height: 299px;
    position: absolute;
    top: 300px;
    left: 958px;
    /* border: 1px solid black; */
    width: 378px;
    border-radius: 6px;
}
.form input{
    display: block;
    line-height: 76px;
    margin: 5px;
    display: block;
    width: 358px;
    height: 26px;
    border: 1px solid red;
    border-radius: 12px;
}
.form button{
    top: 203px;
    width: 100px;
    height: 30px;
    position: absolute;
    left: 145px;
    transition-duration: 3s;
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.493);

}
.form button:hover{
    background-color: tomato;
    color: white;
    width: 120px;
    height: 35px;
    transition-duration: 3s;
    transform: translateX(20px);
    transform: skew(10px,10px);
    

    
}
.form h3{
    left: 152px;
    position: absolute;
    top: -39px;
}



